@import 'variables';

/*
*
* Header
*
*/

body > header {
    position: fixed;
    top: 0; left: 0;

    padding: 45px; padding-bottom: 0;

    border-right:  1px solid $text-color;

    transition-property: padding, width, height;
    transition-duration: $transition-time;

    img {
        width: 80px;
        transition-property: width, height;
        transition-duration: $transition-time;
    }

    @include only-medium {
        padding: 32px; padding-bottom: 0;
        img { width: 64px; }
    }

    @include only-small {
        padding: 32px; height: 128px;
        border-bottom: 1px solid $text-color; border-right: 0;
        img { width: 64px; }
    }

    @include only-under-small {
        padding: 16px; height: 64px;
        border-bottom: 1px solid $text-color; border-right: 0;
        img { width: 32px; }
    }

}