/*
* Basic Settings
*/

* { box-sizing: border-box; }

html { font-size: 16px; }

body {
    font-family: 'effra', 'Noto Sans KR', sans-serif; 

    line-height: 1.5;
    overflow-y: visible;
}

@media screen and (max-width: 479px) {
    html { font-size: 14px; }
}

a { color: black; }

em { font-weight: bold; }

h1 {
    font-weight: bold;
    line-height: 1;
    text-transform: uppercase;

    transition-property: font-size, margin, padding;
    transition-duration: .2s;
}

@media screen and (min-width: 960px) {
    h1 {
        font-size: 3rem;

        margin-left: -2px;
        padding-top: 14px;
    }
    
    h1 + p {
        margin-top: 4px;
    }
}

@media screen and (max-width: 959px) {
    h1 {
        font-size: 2rem;

        margin-left: -2px;
        padding-top: 12px;
    }

    h1 + p {
        margin-top: 2px;
    }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
    h1 { padding-top: 0px; margin-top: -6px; }
}

@media screen and (max-width: 479px) {
    h1 { margin-top: 0; }
    h1 + p { margin-top: 4px; line-height: 1.3; }
} 



/*
* Basic Classes
*/

.uppercased { text-transform: uppercase; }

@media screen and (min-width: 720px) { .under720 { display: none; } }
@media screen and (max-width: 719px) { .over720 { display: none; } }
@media screen and (min-width: 480px) { .under480 { display: none; } }
@media screen and (max-width: 479px) { .over480 { display: none; } }
@media screen and (min-width: 386px) { .under386 { display: none; } }
@media screen and (max-width: 385px) { .over386 { display: none; } }

img.mail { width: 20px; }
img.twitter { width: 20px; }
img.discord { width: 18px; }
img.youtube { width: 20px; }
img.instagram { width: 20px; }
img.devian { width: 12px; }

.displaynone { display: none; }
.opacity0 { opacity: 0; }


/*
* Section: Basic Settings
*/

section.fullscreen {
    position: absolute;

    top: 0; bottom: 0; left: 0; right: 0;
    min-height: 568px;

    transition-property: width, height, padding, font-size;
    transition-duration: .2s;
}

section.contents {
    transition-property: padding, opacity;
    transition-duration: .2s;
}

@media screen and (min-width: 720px) {
    section.contents {
        padding: 48px 48px 48px 232px;
    }
}

@media screen and (min-width: 480px) and (max-width: 719px) {
    section.contents {
        padding: 160px 32px 96px;
    }
}

@media screen and (max-width: 479px) {
    section.contents {
        padding: 80px 16px 59px;
    }

    body.status_works section.contents, body.status_works_view section.contents {
        padding: 0 16px 59px;
    }
}
